header-task/src/main/mule/header-task.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1a37093d-a296-4da8-a230-148bd196eb95" >
		<http:listener-connection host="localhost" port="8097" />
	</http:listener-config>
	<flow name="header-taskFlow" doc:id="b5d99f2e-bf88-4bfa-8f31-3843015977aa" >
		<http:listener doc:name="Listener" doc:id="90a17bc3-541f-4215-8c24-8e2a45e1efa2" config-ref="HTTP_Listener_config" path="/headers"/>
		<logger level="INFO" doc:name="Logger" doc:id="0f904de2-08b9-490c-9904-a5acb6567572" message="#[attributes.headers.transactionId]"/>
	</flow>
</mule>
