uri-param/src/main/mule/uri-param.xml
<?xml version="1.0" encoding="UTF-8"?>



<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"

	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2b138bd2-ccbd-4a20-bfab-da4ff41c4a3a" >

		<http:listener-connection host="0.0.0.0" port="8081" />

	</http:listener-config>

	<flow name="uri-paramsFlow" doc:id="5affe6eb-c188-4268-94ae-d5ac858523e6" >

		<http:listener doc:name="Listener" doc:id="7680d47f-044b-49f4-84ec-535beb084590" path="/uriparam/{orderId}/{orderName}/{orderStatus}" config-ref="HTTP_Listener_config"/>

		<logger level="INFO" doc:name="Logger" doc:id="0228048f-4440-4925-a218-15919f4eef55" message="#[attributes.uriParams.orderName]"/>

	</flow>

</mule>