soap-webservice/src/main/mule/soap-webservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e7288767-23bb-4c7c-973d-1ef4c3788ce8" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="a9891b79-7477-42e4-bf01-75b9d987b9e3" >
		<wsc:connection wsdlLocation="https://www.crcind.com/csp/samples/SOAP.Demo.CLS?WSDL" service="SOAPDemo" port="SOAPDemoSoap" address="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soap-webserviceFlow" doc:id="d7dd2e2a-31f4-4077-9306-70c6f9170548" >
		<http:listener doc:name="Listener" doc:id="6e5716ac-6ec0-47cc-a60a-75a375478c9e" config-ref="HTTP_Listener_config" path="/soap"/>
		<ee:transform doc:name="Transform Message" doc:id="ba2011ae-8d1a-4631-abbd-a786b13dd2e0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org
---
{
	ns0#AddInteger: {
		ns0#Arg1: attributes.queryParams.num1,
		ns0#Arg2: attributes.queryParams.num2
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="3e0364ea-fa55-4c51-b81b-585095bfbb8c" config-ref="Web_Service_Consumer_Config" operation="AddInteger"/>
		<ee:transform doc:name="Transform Message" doc:id="1a4b7a16-4910-4e2c-a351-f5f41fba0bf2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns ns0 http://tempuri.org
output application/json
---
{
	"result":  payload.body.ns0#AddIntegerResponse.ns0#AddIntegerResult
	
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
