fright-application/src/main/mule/fright-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="02978fd8-6f54-489c-987a-0c91558acf66" >
		<http:listener-connection host="0.0.0.0" port="8071" />
	</http:listener-config>
	<flow name="fright-applicationFlow" doc:id="a06cdbe9-4570-4eaa-8091-baf557b75d22" >
		<http:listener doc:name="Listener" doc:id="b195415f-b9be-449c-93f7-524e6de54d70" config-ref="HTTP_Listener_config" path="/infor"/>
		<logger level="INFO" doc:name="Logger" doc:id="6387f645-4d3f-4c0b-920e-1347f8e08d38" message="#[payload]"/>
	</flow>
</mule>
