body-orderid/src/main/mule/body-orderid.xml
<?xml version="1.0" encoding="UTF-8"?>



<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"

	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="98acec7d-567c-4129-a116-993592a942ca" >

		<http:listener-connection host="localhost" port="8082" />

	</http:listener-config>

	<flow name="body-print-orderidFlow" doc:id="f5fcf537-e518-4caf-b820-62d55184812a" >

		<http:listener doc:name="Listener" doc:id="f1ceead7-ce4a-4748-85f6-a280e8f193e6" path="/bodyd" config-ref="HTTP_Listener_config"/>

		<logger level="INFO" doc:name="Logger" doc:id="5f452c8b-d1f5-4b4a-a8bb-e61de324a1ac" message="#[payload.orderId]"/>

	</flow>

</mule>