body-task2/src/main/mule/body-task2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2491b469-dc5c-4ac3-a61f-4bfa732d7044" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="body-task2Flow" doc:id="981ec26f-8c22-4ebf-9b5e-376103e26efb" >
		<http:listener doc:name="Listener" doc:id="d7e63bac-5ee4-4a17-9fd7-9b068a8b54d6" config-ref="HTTP_Listener_config" path="/body"/>
		<logger level="INFO" doc:name="Logger" doc:id="d5558242-f8b7-4520-bd08-2b9d92d52750" message='#["Booking Number is: #[payload.booking_num]"]'/>
	</flow>
</mule>
